<!--  <web-app>
	 <servlet>
			<servlet-name>CategoryAddServlet</servlet-name>
			<servlet-class>xshop.app.CategoryAddServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>CategoryAddServlet</servlet-name>
			<url-pattern>/category-add</url-pattern>
	  </servlet-mapping>
   </web-app> 


   <web-app>
	 <servlet>
			<servlet-name>CategoryListServlet</servlet-name>
			<servlet-class>xshop.app.CategoryListServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>CategoryListServlet</servlet-name>
			<url-pattern>/category-list</url-pattern>
	  </servlet-mapping>
   </web-app> -->



   <web-app>
	 <servlet>
			<servlet-name>CategoryAddServlet</servlet-name>
			<servlet-class>xshop.app.CategoryAddServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>CategoryAddServlet</servlet-name>
			<url-pattern>/category-add</url-pattern>
	  </servlet-mapping>


	   <servlet>
			<servlet-name>CategoryListServlet</servlet-name>
			<servlet-class>xshop.app.CategoryListServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>CategoryListServlet</servlet-name>
			<url-pattern>/category-list</url-pattern>
	  </servlet-mapping>


	   <servlet>
			<servlet-name>CategoryDeleteServlet</servlet-name>
			<servlet-class>xshop.app.CategoryDeleteServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>CategoryDeleteServlet</servlet-name>
			<url-pattern>/category-delete</url-pattern>
		</servlet-mapping>


	  <servlet>
			<servlet-name>CategoryEditServlet</servlet-name>
			<servlet-class>xshop.app.CategoryEditServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>CategoryEditServlet</servlet-name>
			<url-pattern>/category-edit</url-pattern>
	  </servlet-mapping>















	  <servlet>
			<servlet-name>SupplierAddServlet</servlet-name>
			<servlet-class>xshop.app.SupplierAddServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>SupplierAddServlet</servlet-name>
			<url-pattern>/supplier-add</url-pattern>
	  </servlet-mapping>

	   





	   <servlet>
			<servlet-name>SupplierEditServlet</servlet-name>
			<servlet-class>xshop.app.SupplierEditServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>SupplierEditServlet</servlet-name>
			<url-pattern>/supplier-edit</url-pattern>
	  </servlet-mapping>
	  


	  
	  <servlet>
			<servlet-name>SupplierListServlet</servlet-name>
			<servlet-class>xshop.app.SupplierListServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>SupplierListServlet</servlet-name>
			<url-pattern>/supplier-list</url-pattern>
	  </servlet-mapping>


	   <servlet>
			<servlet-name>SupplierDeleteServlet</servlet-name>
			<servlet-class>xshop.app.SupplierDeleteServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>SupplierDeleteServlet</servlet-name>
			<url-pattern>/supplier-delete</url-pattern>
		</servlet-mapping>




   </web-app> 