<!--  <web-app>
	 <servlet>
			<servlet-name>CategoryAddServlet</servlet-name>
			<servlet-class>xshop.app.CategoryAddServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>CategoryAddServlet</servlet-name>
			<url-pattern>/category-add</url-pattern>
	  </servlet-mapping>
   </web-app> 


   <web-app>
	 <servlet>
			<servlet-name>CategoryListServlet</servlet-name>
			<servlet-class>xshop.app.CategoryListServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>CategoryListServlet</servlet-name>
			<url-pattern>/category-list</url-pattern>
	  </servlet-mapping>
   </web-app> -->



   <web-app>
	 <servlet>
			<servlet-name>CategoryAddServlet</servlet-name>
			<servlet-class>xshop.app.CategoryAddServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>CategoryAddServlet</servlet-name>
			<url-pattern>/category-add</url-pattern>
	  </servlet-mapping>


	   <servlet>
			<servlet-name>CategoryListServlet</servlet-name>
			<servlet-class>xshop.app.CategoryListServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>CategoryListServlet</servlet-name>
			<url-pattern>/category-list</url-pattern>
	  </servlet-mapping>


	   <servlet>
			<servlet-name>CategoryDeleteServlet</servlet-name>
			<servlet-class>xshop.app.CategoryDeleteServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>CategoryDeleteServlet</servlet-name>
			<url-pattern>/category-delete</url-pattern>
		</servlet-mapping>


	  <servlet>
			<servlet-name>CategoryEditServlet</servlet-name>
			<servlet-class>xshop.app.CategoryEditServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>CategoryEditServlet</servlet-name>
			<url-pattern>/category-edit</url-pattern>
	  </servlet-mapping>















	  <servlet>
			<servlet-name>SupplierAddServlet</servlet-name>
			<servlet-class>xshop.app.SupplierAddServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>SupplierAddServlet</servlet-name>
			<url-pattern>/supplier-add</url-pattern>
	  </servlet-mapping>

	   





	   <servlet>
			<servlet-name>SupplierEditServlet</servlet-name>
			<servlet-class>xshop.app.SupplierEditServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>SupplierEditServlet</servlet-name>
			<url-pattern>/supplier-edit</url-pattern>
	  </servlet-mapping>
	  


	  
	  <servlet>
			<servlet-name>SupplierListServlet</servlet-name>
			<servlet-class>xshop.app.SupplierListServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>SupplierListServlet</servlet-name>
			<url-pattern>/supplier-list</url-pattern>
	  </servlet-mapping>


	   <servlet>
			<servlet-name>SupplierDeleteServlet</servlet-name>
			<servlet-class>xshop.app.SupplierDeleteServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>SupplierDeleteServlet</servlet-name>
			<url-pattern>/supplier-delete</url-pattern>
		</servlet-mapping>




		<servlet>
			<servlet-name>ProductListServlet</servlet-name>
			<servlet-class>xshop.app.ProductListServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>ProductListServlet</servlet-name>
			<url-pattern>/product-list</url-pattern>
		</servlet-mapping>

			<servlet>
			<servlet-name>ProductAddServlet</servlet-name>
			<servlet-class>xshop.app.ProductAddServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>ProductAddServlet</servlet-name>
			<url-pattern>/product-add</url-pattern>
		</servlet-mapping>

			<servlet>
			<servlet-name>ProductDeleteServlet</servlet-name>
			<servlet-class>xshop.app.ProductDeleteServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>ProductDeleteServlet</servlet-name>
			<url-pattern>/product-delete</url-pattern>
		</servlet-mapping>
			<servlet>
			<servlet-name>ProductEditServlet</servlet-name>
			<servlet-class>xshop.app.ProductEditServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>ProductEditServlet</servlet-name>
			<url-pattern>/product-edit</url-pattern>
		</servlet-mapping>


	<servlet>
			<servlet-name>HomeServlet</servlet-name>
			<servlet-class>xshop.app.HomeServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>HomeServlet</servlet-name>
			<url-pattern>/home</url-pattern>
	  </servlet-mapping>
























	  <servlet>
			<servlet-name>UserAddServlet</servlet-name>
			<servlet-class>xshop.app.UserAddServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>UserAddServlet</servlet-name>
			<url-pattern>/user-add</url-pattern>
	  </servlet-mapping>

	  <servlet>
			<servlet-name>UserListServlet</servlet-name>
			<servlet-class>xshop.app.UserListServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>UserListServlet</servlet-name>
			<url-pattern>/user-list</url-pattern>
	  </servlet-mapping>

	  <servlet>
			<servlet-name>UserEditServlet</servlet-name>
			<servlet-class>xshop.app.UserEditServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>UserEditServlet</servlet-name>
			<url-pattern>/user-edit</url-pattern>
	  </servlet-mapping>


	  <servlet>
			<servlet-name>LoginServlet</servlet-name>
			<servlet-class>xshop.app.LoginServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>LoginServlet</servlet-name>
			<url-pattern>/user-login</url-pattern>
	  </servlet-mapping>


	   <servlet>
			<servlet-name>LogoutServlet</servlet-name>
			<servlet-class>xshop.app.LogoutServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>LogoutServlet</servlet-name>
			<url-pattern>/user-logout</url-pattern>
	  </servlet-mapping>




	  <servlet>
			<servlet-name>UserAdminHomeServlet</servlet-name>
			<servlet-class>xshop.app.UserAdminHomeServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>UserAdminHomeServlet</servlet-name>
			<url-pattern>/user-admin</url-pattern>
	  </servlet-mapping>


	    <servlet>
			<servlet-name>UserHomeServlet</servlet-name>
			<servlet-class>xshop.app.UserHomeServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>UserHomeServlet</servlet-name>
			<url-pattern>/user-user</url-pattern>
	  </servlet-mapping>



	   <servlet>
			<servlet-name>UserChangePasswordServlet</servlet-name>
			<servlet-class>xshop.app.UserChangePasswordServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>UserChangePasswordServlet</servlet-name>
			<url-pattern>/user-changepass</url-pattern>
	  </servlet-mapping>


	  <servlet>
			<servlet-name>UserProfileServlet</servlet-name>
			<servlet-class>xshop.app.UserProfileServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
			<servlet-name>UserProfileServlet</servlet-name>
			<url-pattern>/user-profile</url-pattern>
	  </servlet-mapping>








   </web-app> 